.calendar{
    display: flex;
    color: white;
    justify-content: space-evenly;
    margin-bottom: 2em;
}
.appTitle{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.homePage {
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}
.submit {
    color: #ffffff;
    padding: 15px 30px;
    background: #333333;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    top: 50vh;
    left: 50vw;
  }
.card {
    width: 10em;
    height: 5em;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.milesContainer{
    text-align: center;
}

h2,h3{
    text-align: center;
    padding: 15px;
    font-size: 1em;
    color: #333333;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #21618c;
}
